@use "../../styles/design.scss" as *;

.wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.switch {
  position: relative;
  width: 72px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: $border-radius-oval;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-family: sans-serif;
  color: var(--text);
  font-weight: bold;

  &:focus {
    border: 1px solid white;
  }
}

.switch.on {
  background-color: var(--success);
}

.switch.off {
  background-color: var(--error);
}

.label {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  font-size: $fs-base;
}

.on_label {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.off_label {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.switch.on .on_label {
  opacity: 1;
}

.switch.on .off_label {
  opacity: 0;
}

.slider {
  position: absolute;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: var(--bg-dark);
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: 2;
}

.switch.on .slider {
  left: 42px;
}
