@use "../../styles/design.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  border-radius: $border-radius-md;
  gap: 3rem;
  padding: 2rem 3rem;
  background-color: var(--bg);
  box-shadow: $shadow-md;
  border: 1px solid var(--neutral-10);
}

.elementWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.5rem;

  label {
    font-size: $fs-lg;
    font-weight: $fw-bold;
    white-space: nowrap;
    min-width: 120px;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  gap: 2rem;
}

.spacer {
  display: flex;
  flex-wrap: "nowrap";
  gap: 0.5rem;
  width: 100%;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  box-shadow: $shadow-md;
  padding: 1rem;
  width: 100%;
  gap: 3.2rem;
}

.logo {
  display: inline;
  height: 100px;
}

.title {
  font-size: $fs-h2;
  font-weight: $fw-bold;
  color: var(--primary);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.infoIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .elementWrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
