@use "../../styles/design.scss" as *;

.choicesWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.list {
  width: 100%;
  max-height: 200px;
  margin: 1rem 0 0 0;
  background: var(--bg-light);
  border: 1px solid var(--border-muted);
  color: var(--text);
  border-radius: $border-radius-sm;
  list-style-type: none;
  overflow-y: auto;

  :nth-child(even) {
    background: var(--bg);
  }
}

.itemText {
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  font-size: $fs-sm;

  &:hover {
    button {
      opacity: 1;
    }
  }

  button {
    opacity: 0;

    &:hover {
      background-color: var(--danger-hover);
    }
  }
}
